.map-section {
    background: linear-gradient(180deg,#78350F 100%);
    padding: 160px 80px;
}


.map-section .map {
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

.map-section .map .img-map {
  padding-top: 36px !important;
  padding-bottom: 48px !important;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.img-map img {
    display: block;
   max-width: 100%;
    height: auto;
   
}

.img-map .img-inner {
    display: inline-block;
    position: relative;
}

.map-section .map .img-map .img-inner::before {
  content: url('../images/Ellipses.svg');
  position: absolute;
  z-index: -1;
  left: 20%;
  top: 111px;
  
}

.map-section .map .img-map::after {
  content: url('../images/col\ \(1\).png');
  position: absolute;
  z-index: 0; 
  top: 10px;
  left: 0px;
  width: 256px;
  height: 200px;
}


.map-section .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  line-height: 20px;
  z-index: 2;
}

 .map .info h1 {
    font-size: 96px;
    font-weight: bold;
    color: #fff;
    font-weight: 800;
}
.map-section  .info p {
    font-size: 56px;
    font-weight: bold;
    color: #fff;
    font-weight: 800;
}

@media (max-width: 1440px) {
  .map-section {
    padding: 140px 60px;
  }

  .map .info h1 {
    font-size: 84px;
  }

  .map-section .info p {
    font-size: 48px;
  }

  .map-section .map .img-map::after {
    width: 220px;
    height: auto;
  }

  .map-section .map .img-map .img-inner::before {
    left: 16%;
    top: 40px;
  }
}

@media (max-width: 768px) {
    .map-section {
        padding: 100px 20px;
    }

    .map .info h1 {
        font-size: 48px;
    }

    .map-section .info p {
        font-size: 28px;
    }

    .map-section .map .img-map {
        padding: 20px;
    }

    .map-section .map .img-map::before {
        left: 80px;
        top: 80px;
    }

    .map-section .map .img-map::after {
        width: 150px;
        height: auto;
    }
}
