:root {
    --dark-blue-color: #0F172A;
    --brown-color:#78350F;
    --orange-color: #FBBF24;
    --amber-color :#FDE68A;
    --green-color : #15803D;
    --fuchsia-color : #A21CAF;
    --blue-color :#0369A1 ;
    --pink-color :#BE185D ;
    --amberr-color :#B45309;
}