@import 'header';
@import 'variable';
@import 'button';
@import 'collect-section';
@import 'products-section';
@import 'video-section';
@import 'human-section';
@import 'map-section';
@import 'grow-section';
@import 'articles-section';
@import 'event-section';
@import 'footer';
@import 'collectmore-section';

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
    
 }


 h2 {
    font-size: 56px;
    font-weight: 800;
 }
 
 *,
*::after,
*::before{
    box-sizing: border-box;
}


@media (max-width: 768px) {
  
}

/* === Responsive for .products-section === */
@media (min-width: 1440px) {
 .wrapper {
  padding: 16px;
 }
}

@media (max-width: 768px){
    .wrapper {
        padding: 0 16px;
    }
}




